.git
.gitignore
.env
.env.example
.editorconfig
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
.phpunit.result.cache
*.log
*.md
README.md
CHANGELOG.md
docker-compose.yml
Makefile
